<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.diamon.tiamon">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity android:name=".Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game_Zone"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewGame"
            android:label="@string/title_activity_newgame" />
        <activity
            android:name=".Records"
            android:label="@string/title_activity_records" />
        <activity
            android:name=".About"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about"
            android:theme="@style/FullscreenTheme" >
        </activity>

        <service
            android:name=".util.SoundService"
            android:enabled="true" />

        <activity
            android:name=".Shop"
            android:label="@string/title_activity_shop" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name=".Loadings" android:label="@string/title_activity_loading">
        </activity>
    </application>

</manifest>
